<head>
<style type="text/css">
.fullscreenDiv{
    background-color: #e8e8e8;
    width:100%;
    height: auto;
    bottom: 0px;
    top: 0px;
    left: 0;
    position: absolute;
}
.center{
    position: absolute;
    width: 1200px;
    height: 50px;
    top: 50%;
    left: 50%;
    margin-top: -200px;
    margin-left: -600px;
}
</style>
</head>

<body>
<div class="fullscreenDiv">
    <div class="center">
        <p style="font-size:12px; font-size:2vw;" align="center">
            On the next page you will see a path diagram. Follow the path diagram based on the primary task you just performed and type the associated rating into the given box.
        </p>
        <p style="font-size:12px; font-size:2vw;" align="center">
            Press space bar to continue
        </p>
    </div>
</div>
<script src="/static/d3/d3.v3.min.js"></script>
<script>
    d3.select(window).on("keydown",function(){
        var keyCode = d3.event.keyCode;
        if(keyCode == 32){
            document.getElementById("sessionID").value = "{{ sessionID }}"
            document.getElementById("complete").click();
        }
    });
</script>

<form action="{% url 'ModME:bedford' %}" style="display:none" method="post">
    {% csrf_token %}
    <input type="hidden" name="sessionID" id="sessionID"/>
    <input type="submit" value="Complete" id="complete" style="visibility:hidden"/>
</form>