<head>
<style type="text/css">
    p {
        font-family: "Arial";
    }
</style>
</head>

<body style="background-color:EEEEEE">
<div id="header" style="background-color:#FFA500;">
    <h1 style="margin-bottom:0;text-align:center;font-size:100px;color:#000000">ModME</h1>
</div>



<div id="content" style="background-color:#DDDDDD;height=600px;width=600px;text-align:center;">
    <form action="{% url 'ModME:begin' %}" method="post">
        {% csrf_token %}
        <select id = "Parameters" name = "parameter_id">
            <option value="%">---------</option>
            {% for entry in parameters_list %}
                <option value="{{ entry.id }}">{{ entry.Name }}</option>
            {% endfor %}
        </select><br>
        <p>Participant id: <input id="participant_id" type="text" name="participant_id"/></p>
        <p>Session id: <input id="sessionName" type="text" name="sessionName"/></p>
        <input id="submit" type="submit" value="Begin" style="display:none"/>
    </form>
        <button id="begin" onclick="check()"> Begin </button>
</div>

<script type="text/javascript">

function check() {
    var select = document.getElementById("Parameters");
    var condition = select.options[select.selectedIndex].innerHTML;
    // TODO if the user has already completed the condition in this session, confirm with user before submitting.  Discuss this with Leslie first.  It's not clear if the old code was trying to prevent id confusion because of poor database design.  It could be that the we just don't want users to repeat conditions.
    document.getElementById("submit").click();
}

function stopRKey(evt) {

    var evt = evt ? evt : ((event) ? event :null);
    var node = (evt.target) ? (evt.target) : (evt.srcElement ? (evt.srcElement) : null);
    if ((evt.keyCode == 13) && (node.type=="text")) {return false;}

}
document.onkeypress = stopRKey;

</script>
