<head>
<style type="text/css">
    p {
        font-family: "Arial";
    }
</style>
</head>

<body style="background-color:EEEEEE">
<div id="header" style="background-color:#FFA500;">
    <h1 style="margin-bottom:0;text-align:center;font-size:100px;color:#000000">ModME</h1>
</div>



<div id="content" style="background-color:#DDDDDD;height=600px;width=600px;text-align:center;">
    <form action="{% url 'ModME:begin' %}" method="post">
        {% csrf_token %}
        <select id = "Parameters" name = "parameter_id">
            <option value="%">---------</option>
            {% for entry in parameters_list %}
                <option value="{{ entry.id }}">{{ entry.Name }}</option>
            {% endfor %}
        </select><br>
        <p>Participant id: <input id="participantAlias" type="text" name="participantAlias"/></p>
        <p>Session id: <input id="sessionName" type="text" name="sessionName"/></p>
        <p>Study id: <input id="studyName" type="text" name="studyName"/></p>
        <label>Reuse Session Data: <input id="reuse" type="checkbox"></label>
        <select id="metadata" name="metadata_id"></select>
        <input id="submit" type="submit" value="Begin" style="display:none"/>
    </form>
        <button id="begin" onclick="check()"> Begin </button>
</div>

<script type="text/javascript">

function check() {
    var select = document.getElementById("Parameters");
    var condition = select.options[select.selectedIndex].innerHTML;
    // TODO if the user has already completed the condition in this session, confirm with user before submitting.  Discuss this with Leslie first.  It's not clear if the old code was trying to prevent id confusion because of poor database design.  It could be that the we just don't want users to repeat conditions.
    document.getElementById("submit").click();
}

function stopRKey(evt) {

    var evt = evt ? evt : ((event) ? event :null);
    var node = (evt.target) ? (evt.target) : (evt.srcElement ? (evt.srcElement) : null);
    if ((evt.keyCode == 13) && (node.type=="text")) {return false;}

}
document.onkeypress = stopRKey;

function escape (value) {
    return (value + "").replace(/&/g, "&amp;").replace(/</g, "&lt;").replace(/>/g, "&gt;");
}

function dateLeftZero (value)
{
    return (value < 10 ? "0" + value : value);
}

function formatDate (value) {
    var date = new Date(value);
    var output = date.getFullYear() + "-" + dateLeftZero(date.getMonth() + 1) + "-" + dateLeftZero(date.getDay());
    var hour = date.getHours();
    var part = "am";

    if (hour > 12)
    {
        hour -= 12;
        part = "pm";
    }
    return output + " " + hour + ":" + dateLeftZero(date.getMinutes()) + part + " " + date.toString().match(/\(([^)]+)\)$/)[1];
}

function fetchMetdata() {

    var xhr = new XMLHttpRequest();
    xhr.onreadystatechange = function() {

        if (xhr.readyState === 4 && xhr.status === 200) {

            metadata.innerHTML = JSON.parse(xhr.responseText).reduce(function(last, entry) {
                return last + "<option value='" + escape(entry.id) + "'>" + escape(entry.session.name + " - " + formatDate(entry.startTime)) + "</option>";
            }, []);
        }
    };
    xhr.open("GET", (location + "") + "get-reusable-sessions?condition=" + encodeURIComponent(Parameters.value));
    xhr.send();
}

Parameters.addEventListener("change", function() {

    reuse.disabled = Parameters.value === "%";

    if (reuse.disabled)
    {
        metadata.innerHTML = "";
    }
    else
    {
        fetchMetdata();
    }
});

reuse.disabled = Parameters.value === "%";
reuse.checked = false;
reuse.addEventListener("change", function() {

    metadata.disabled = !reuse.checked;
});

if (!reuse.disabled)
{
    fetchMetdata();
}

begin.disabled = false;
metadata.disabled = true;
</script>
